$text-color: #535455;
$gray: #eeeeee; 
$yellow: #f0c023;
$red: #ec3c4e;
$red-light: #e95463;
$blue: #1c74c6;
$white: #ffffff;
$green: #12cc12;
$purple : #612bdf;
$black: #000000;
$orange-light: #FDB750;

$border-red: #d11729;
$border-dark: #454545;

$sidebar-bg: #343434;
$sidebar-text-color: #f2f2f2;
$sidebar-box-shadow-color: rgba(51, 51, 51, 0.5);
$sidebar-width: 220px;

$images-path: 'assets/images'