<div>
    <button mat-mini-fab color="primary" class="mr-3" (click)="goBackToMailbox()">
      <i class="fa fa-arrow-left"></i>
    </button>
    <button mat-mini-fab color="primary" style="margin-right: 8px;" (click)="deleteMessage()">
        <i class="fas fa-trash"></i>
    </button>
    <button *ngIf="message.mailboxType != boxType.Sent" mat-mini-fab color="primary" style="margin-right: 8px;" (click)="replyToMessage()">
      <mat-icon class="fa fa-reply"></mat-icon>
    </button>
    <hr>
    <div>
        <div class="mt-1 mb-3">
            <h4>{{'sender' | translate}}: {{message.sender.name}} {{message.sender.middleName}} {{message.sender.surname}}</h4>
        </div>
        <div class="mt-1 mb-3">
            <h4>{{'recipients' | translate}}:</h4>
        </div>
        <div class="mt-2 mb-3">
            <p-chips [(ngModel)]="message.recipients" disabled="true">
                <ng-template let-recipient pTemplate="item">
                    {{recipient.name}} {{recipient.middleName}} {{recipient.surname}}
                </ng-template>
            </p-chips>
        </div>
        <div class="mt-1 mb-3">
            <h4>{{'send_date' | translate}}: {{message.sendDate | date: 'dd-MM-yyyy HH:mm'}}</h4>
        </div>
        <div class="mt-1 mb-3">
            <h2>{{'topic' | translate}}: {{message.topic}}</h2>
        </div>
    </div>
    <hr>
    <div class="message-b">
      <div class="message-content" [innerHTML]="message.content"></div>
    </div>
  </div>