<div class="content-wrapper">
    <div class="text-center pb-3">
        <h1>{{'users' | translate}}</h1>
    </div>
    <div fxLayout="row">
        <div 
            fxFlexOffset.lt-lg="10" fxFlex.lt-lg="80"
            fxFlex.xs="94"fxFlexOffset.xs="3"
            fxHide fxShow.lt-lg>
            <p-toolbar>
                <button class="btn btn-primary btn-block btn-lg btn-action" (click)="addNewUser($event)">
                    <i class="far fa-plus-square"></i>    
                    {{'add' | translate}}
                </button>
            </p-toolbar>
        </div>
        <div fxFlex.gt-md="80" fxFlexOffset.gt-md="10"
            fxHide fxShow.gt-md>
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <button role="button" [ngClass.lt-md]="'btn-block'"
                    class="btn btn-primary btn-lg btn-action"
                    (click)="addNewUser($event)">
                        <i class="far fa-plus-square"></i>    
                        {{'add' | translate}}
                </button>
                </div>
            </p-toolbar>
        </div>
        <div fxFlex.gt-md="10" fxFlex.lt-lg="10" fxFlex.xs="3"></div>
    </div>
    <div fxLayout="row">
        <div fxFlex.gt-xs="80" fxFlexOffset.gt-xs="10" 
        fxFlex.xs="94" fxFlexOffset.xs="3"
        fxLayout="row" class="card mt-2">
            <p-table [value]="users" responsiveLayout="scroll"
                [paginator]="true" [rows]="rowNumbers" [totalRecords]="totalCount" [rowsPerPageOptions]="rowNumbersOptions"
                [resizableColumns]="true" [autoLayout]="true" fxFlex="100" [lazy]="true" (onLazyLoad)="loadUsers($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center" pSortableColumn="Surname">
                            {{'user' | translate}}
                            <p-sortIcon [field]="name"></p-sortIcon>
                        </th>
                        <th class="text-center" pSortableColumn="Email">
                            {{'email' | translate}}
                            <p-sortIcon [field]="email"></p-sortIcon>
                        </th>
                        <th class="text-center">
                            {{'role' | translate}}
                        </th>
                        <th class="text-center">
                            {{'active' | translate}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td class="text-center">{{user.name}}</td>
                        <td class="text-center">{{user.email}}</td>
                        <td class="text-center">{{user.role.name | translate}}</td>
                        <td class="text-center">
                            <i class="pi" [ngClass]="{'true-icon pi-check-circle': user.isActive, 'false-icon pi-times-circle': !user.isActive}"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div fxFlex.gt-xs="10" fxFlex.xs="3"></div>
    </div>
</div>
