<div class="content-wrapper" *ngIf="user">
    <p-dialog header="{{'change_password' | translate}}"
    [(visible)]="displayChangePasswordDialog"
    [style]="{width: '50vw'}">
        <change-user-password
            [userId]="user.id"
            (confirmUpdatePassword)="closeDialog($event)"
        ></change-user-password>
    </p-dialog>
    <div class="text-center pb-3">
        <h1>{{'admin' | translate}}</h1>
    </div>
    <div fxLayout="row" class="pb-3">
        <div fxFlex.sm="80" fxFlexOffset.sm="10" 
        fxFlex.md="54" fxFlexOffset.md="23"
        fxFlex.gt-md="50" fxFlexOffset.gt-md="25" 
        fxFlex.xs="94" fxFlexOffset.xs="3"
        fxLayout="column">
            <p-card>
                <div class="row">
                    <div class="col-4">
                        <h6 class="ml-3 mb-0">{{'name' | translate }}</h6>
                    </div>
                    <div class="col-8 text-secondary">
                        <span *ngIf="user.middleName && user.middleName.length > 0; else noMiddleName">
                            {{user.surname}} {{user.name}} {{user.middleName}}
                        </span>
                        <ng-template #noMiddleName>
                            <span>{{user.surname}} {{user.name}}</span>
                        </ng-template>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <h6 class="ml-3 mb-0">{{'email' | translate }}</h6>
                    </div>
                    <div class="col-8 text-secondary">
                        <span *ngIf="user.email; else noEmail">
                            {{user.email}}
                        </span>
                        <ng-template #noEmail>
                            <span>{{'not_exist' | translate }}</span>
                        </ng-template>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <h6 class="ml-3 mb-0">{{'role' | translate }}</h6>
                    </div>
                    <div class="col-8 text-secondary">
                        {{user.role.name | translate }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <p-button styleClass="p-button-info" label="{{'change_password' | translate}}" 
                        (click)="displayChangePasswordDialog = true" icon="pi pi-key"></p-button>
                    </div>
                </div>
            </p-card>
        </div>
        <div fxFlex.sm="10" fxFlex.md="23" fxFlex.gt-md="25" fxFlex.xs="3"></div>
    </div>
</div>
