<div class="content-wrapper" *ngIf="coach">
    <div class="text-center pb-3 mt-3 mb-3">
        <h1>{{'coach' | translate}}</h1>
    </div>
    <p-confirmDialog #cd [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
        <ng-template pTemplate="footer">
            <button type="button" pButton icon="pi pi-times" label="{{'no' | translate}}" (click)="cd.reject()"></button>
            <button type="button" pButton icon="pi pi-check" label="{{'yes' | translate}}" (click)="cd.accept()"></button>
        </ng-template>
    </p-confirmDialog>
    <p-dialog header="{{'change_password' | translate}}"
    [(visible)]="displayChangePasswordDialog"
    [style]="{width: '50vw'}">
        <change-user-password
            [userId]="coach.userId"
            (confirmUpdatePassword)="closeDialog($event)"
        ></change-user-password>
    </p-dialog>
    <div fxLayout="row" class="pb-3">
        <div fxFlex.sm="80" fxFlexOffset.sm="10" 
        fxFlex.md="54" fxFlexOffset.md="23"
        fxFlex.gt-md="50" fxFlexOffset.gt-md="25" 
        fxFlex.xs="94" fxFlexOffset.xs="3"
        fxLayout="column">
            <p-card>
                <div class="row">
                    <div class="col-4">
                        <h6 class="ml-3 mb-0">{{'name' | translate }}</h6>
                    </div>
                    <div class="col-8 text-secondary">
                        <span *ngIf="coach.middleName && coach.middleName.length > 0; else noMiddleName">
                            {{coach.name}} {{coach.middleName}} {{coach.surname}}
                        </span>
                        <ng-template #noMiddleName>
                            <span>{{coach.name}} {{coach.surname}}</span>
                        </ng-template>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <h6 class="ml-3 mb-0">{{'email' | translate }}</h6>
                    </div>
                    <div class="col-8 text-secondary">
                        <span *ngIf="coach.email; else noEmail">
                            {{coach.email}}
                        </span>
                        <ng-template #noEmail>
                            <span>{{'not_exist' | translate }}</span>
                        </ng-template>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <h6 class="ml-3 mb-0">{{'date_of_birth' | translate }}</h6>
                    </div>
                    <div class="col-8 text-secondary">
                        {{coach.birthDate | date: 'dd-MM-yyyy'}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <h6 class="ml-3 mb-0">{{'country' | translate }}</h6>
                    </div>
                    <div class="col-8 text-secondary">
                        {{coach.country}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <h6 class="ml-3 mb-0">{{'coach_teams_count' | translate }}</h6>
                    </div>
                    <div class="col-8 text-secondary">
                        <div *ngIf="coach.teams && coach.teams.length > 0 ;else coachWithoutTeam">
                            <p-chips [(ngModel)]="coach.teams" disabled="true">
                                <ng-template let-item pTemplate="item">
                                    {{item.name}}
                                </ng-template>
                            </p-chips>
                        </div>
                        <ng-template #coachWithoutTeam>
                            <span>{{'no_team_assigned' | translate }}</span>
                        </ng-template>
                    </div>
                </div>
                <hr>
            </p-card>
            <div class="row mt-3" [security]="'administration.users'">
                <div class="col-sm-12">
                    <p-button styleClass="p-button-info" label="{{'change_password' | translate}}" 
                    (click)="displayChangePasswordDialog = true" icon="pi pi-key"></p-button>

                    <p-button *ngIf="coach.finishedWorking" styleClass="ml-3 p-button-success" label="{{'return_to_work' | translate}}" 
                    (click)="displayChangePasswordDialog = confirmToggle()" icon="pi pi-directions-alt"></p-button>
                    <p-button *ngIf="!coach.finishedWorking" styleClass="ml-3 p-button-warning" label="{{'finish_working' | translate}}" 
                    (click)="displayChangePasswordDialog = confirmToggle()" icon="pi pi-directions"></p-button>
                </div>
            </div>
        </div>
        <div fxFlex.sm="10" fxFlex.md="23" fxFlex.gt-md="25" fxFlex.xs="3"></div>
    </div>
</div>
