.signInForm{
    border: 2px solid #124558;

    h3{
        color: #232323;
    }

    form{
        padding: 10px;
    }

    label{
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btn{
        background-color: #480a81;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }
}